TELEGRAM_BOT_TOKEN=123456:replace_me
LAW_FIRM_NAME=Lex Chess
MANAGER_NAME=Юрист Lex Chess

BITRIX24_WEBHOOK_URL=https://your-company.bitrix24.ru/rest/1/your_webhook_code/
BITRIX24_ENTITY_TYPE_ID=1
BITRIX24_RESPONSIBLE_ID=1
BITRIX24_CREATOR_ID=1
BITRIX24_SOURCE_ID=WEB
BITRIX24_BANKRUPTCY_RESPONSIBLE_ID=1
BITRIX24_FAMILY_RESPONSIBLE_ID=1
BITRIX24_REVIEW_RESPONSIBLE_ID=1
BITRIX24_TARGET_STATUS_ID=IN_PROCESS
BITRIX24_ADJACENT_STATUS_ID=NEW
BITRIX24_NON_TARGET_STATUS_ID=JUNK

BOOKING_URL=
BOOKING_SLOTS=Сегодня 16:00-18:00|Завтра 10:00-12:00|Завтра 15:00-17:00|Ближайший свободный слот
MANAGER_TELEGRAM_CHAT_ID=
SERVICE_REGIONS=Москва,Московская область,Онлайн по РФ
REMINDER_AFTER_MINUTES=30
REMINDER_AFTER_HOURS=24
QUALIFIED_FOLLOW_UP_HOURS=6
TELEGRAM_ATTACHMENT_MAX_MB=10
LOG_LEVEL=INFO
