NEXT_PUBLIC_SITE_URL=https://dnatext.ru
NEXT_PUBLIC_PHONE=+7 (999) 000-00-00
NEXT_PUBLIC_EMAIL=office@lexchess.ru
NEXT_PUBLIC_TELEGRAM_URL=https://t.me/lexchess_bot

BITRIX24_WEBHOOK_URL=https://your-company.bitrix24.ru/rest/1/your_webhook_code/
BITRIX24_ENTITY_TYPE_ID=1
BITRIX24_RESPONSIBLE_ID=1
BITRIX24_CREATOR_ID=1
BITRIX24_SOURCE_ID=WEB
BITRIX24_BANKRUPTCY_RESPONSIBLE_ID=1
BITRIX24_FAMILY_RESPONSIBLE_ID=1
BITRIX24_REVIEW_RESPONSIBLE_ID=1
BITRIX24_TARGET_STATUS_ID=IN_PROCESS
BITRIX24_ADJACENT_STATUS_ID=NEW
BITRIX24_NON_TARGET_STATUS_ID=JUNK

TELEGRAM_BOT_TOKEN=123456:replace_me
MANAGER_TELEGRAM_CHAT_ID=
